* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.top {
    background: #F6F2F2;;
    padding-top: 28px;
    padding-bottom: 110px;
}

.header {
    background-color: black;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    display: flex;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 32px 23px 33px; 
}

.menu__link:hover {
    background: #FF3F40;
}

.top__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.top__info {
    width: 617px;
}

.title {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 59px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #000000;
}

.text {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
color: #000000;
}

.top__text {
    width: 544px;
    margin-top: 36px;
    margin-bottom: 64px;
}

.button {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.3195px;
    color: #FFFFFF;
    padding: 16px 62px;
    background: #FF2D2D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #fa7272;
}

.top__video {
    width: 552px;
    height: 356px;
    box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29); 
    object-fit: cover; 
    cursor: pointer;
}

